:root {
    /* set fonts and backups */
    --heading-font: Georgia;
    --paragraph-font: "Times New Roman", Times, serif;

    /* background colors */
    --header-backcolor: #10456ae1;
    --body-backcolor: #F2E7CF;
    --footer-backcolor: #10456ae1;
    --nav-a-hover-backcolor: #808080;
    --book-join-backcolor: #8f8e8e;
    --book-join-hover-backcolor: #424141;
    --barback-backcolor: #DBBE80; /* #dec48a paper save look */
    --msg-backcolor: #f66d28fa;
}
/* center all website and sets max width */
#content {
    max-width: 1600px;
    margin: 0 auto;
}
header {
    background-color: var(--header-backcolor);
}
.logo {
    width: 80px;
}


body {
    background-color: var(--body-backcolor);
    font-family: var(--paragraph-font);
    font-size: 22px;
    margin: 0;
    padding: 0;
}


footer {
    background-color: var(--footer-backcolor);
    padding-top: 15px;
    margin-top: 200px;
}
footer a {
    color: var(--footer-a-txtcolor);
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer a:hover {
    color: var(--footer-a-hover-txtcolor);
}
footer .social img {
    padding-top: 15px;
}

.social{
    float: right;
}