body {
    padding: 10px;
    background-color: #cad2c5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#content {
    max-width: 1800px;
    width: 1800px;
    margin: 0 auto;
}
header {
    background-color: #10456ae1;
    display: grid;
    
    /* position: fixed; !!! this broke the Hearder !!!*/
    width: 100%;
    height: 115px;
    backdrop-filter: blur(2px) saturate(50%);
    position: sticky;
    top: 0;
    z-index: 100;
}
nav {
    grid-template-columns: 150px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
    
}
nav a {
    text-align: center;
    color: #000000;
    text-decoration: none;
    padding: 0px 35px;
    border: 1px solid #00000082;
    padding-top: .5%;
    padding-bottom: .5%;
    border-radius: 5px;
}
nav a:hover {
    background-color: #156aa782 ;
    color: #000000be;
    border-radius: 20px;
}
img {
    height: 700px;
}
