* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #222222;
}

#content {
    background-color: white;
    border-radius: 20px;
    width: 300px;
    margin: 50px auto;
    overflow: hidden;
}

main {
    text-align: center;
}

#paragraph_box {
    margin: 5px 25px;
}

footer {
    font-family: 'Times New Roman';
    background-color: #5e5e5e;
    color: white;
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px;
    gap: 2px;
}

.foot_box {
    background-color: #184f69;
    height: 100%;
}

.foot_head {
    font-size: 20px;
    margin-top: 5px;
}

.foot_txt {
    font-size: 12px;
}

#sup_foot {
    font-size: 10px;
}