/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define the grid layout */
.wrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* 10 columns */
    grid-template-rows: repeat(5, 1fr); /* 5 rows */
    gap: 0px; /* Gap between grid items */
    height: 300px; /* Adjust as needed */
    width: 600px; /* Full width */
}

/* Light grey box */
.light-grey {
    background-color: lightgrey;
    grid-column: 1 / span 5; /* Start at column 1, span 5 columns */
    grid-row: 1 / span 5; /* Start at row 1, span 5 rows */
    display: flex; /* Add this line */
    justify-content: center; /* Horizontally center the image */
    align-items: center; /* Vertically center the image */
}

/* Dark grey box */
.dark-grey {
    background-color: darkgrey;
    grid-column: 6 / span 5; /* Start at column 6, span 5 columns */
    grid-row: 1 / span 5; /* Start at row 1, span 5 rows */
    position: relative;
}

/* Position the cherries text */
.cherries-text {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: #6b1c29;
}

/* text tart and sweet */
.brown {
    grid-column: 1 / span 10; /* Start at column 1, span 10 columns */
    grid-row: 2; /* Row 2 */
    z-index: 2;
    transform: translateY(25%);
    display: flex; /* Add this line */
    justify-content: center; /* Horizontally center the image */
    align-items: center; /* Vertically center the image */
    color: black;
    font-weight: bold; /* Make the text bold */
    font-size: 3.8em; /* Increase the font size */
    letter-spacing: 16px; /* Adjust letter spacing */
}

/* Purple box */
.cherry_img {
    width: 80%;
    z-index: 1; /* Ensure it's above the brown box */
}