#content {
    max-width: 1800px;
    width: 1800px;
    margin: 0 auto;
}

img{
    max-width: 100%;
}

/* Header works */
header {
    background-color: #10456ae1;
    display: grid;
    grid-template-columns: 150px auto;
    /* position: fixed; !!! this broke the Hearder !!!*/
    width: 100%;
    height: 115px;
    backdrop-filter: blur(2px) saturate(50%);
    position: sticky;
    top: 0;
    z-index: 100;
}
.logo {
    width: 80px;
    border-radius: 50%;
    border: 2px solid #00000030;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-align: center;
    color: #000000;
    text-decoration: none;
    padding: 0 35px;
    border: 1px solid #00000082;
    padding-top: .5%;
    padding-bottom: .5%;
    border-radius: 5px;
    font-family: georgia, serif;
    font-weight: lighter;
    font-size: 1.7em;
}
nav a:hover {
    background-color: #156aa782 ;
    color: #000000be;
    border-radius: 20px;
}
/* Header works */


body{
    background-color: #dddddd;
    display: flex;
    margin: auto;
    font-family:"Times New Roman", Times, serif;
    font-weight: lighter;
    font-size: 1em;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

div.Home_grid {
    grid-column: 2/5;
    margin-top: 75px;
}


#title_gradient{
    background-image: linear-gradient(#18659de1, #288fd8e1);
    text-align: center;
    font-size: 2em;
    width: 100%;
    grid-column: 1/6;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 3px 10px #00000049;
}
#title{
    height: 100%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: georgia, serif;
    font-weight: lighter;
    font-size: 2em;
}

.bold{
    font-size: 1.5em;
    margin-top: 2%;
    font-family: georgia, serif;
    font-weight: lighter;
    font-size: 2em;    
}
.secondary{
    margin-top: 0;
    margin-left: 20px;
}
.secondary_bold{
    margin-bottom: 10px;
}
#story_img{
    margin-left: 20px;
}
.content_cards {
    background-color: #aba9a9;
    border-radius: 10px;
    margin-top: 6%;
    box-shadow: 0 3px 10px #00000049;

    padding-top: 2%;
    padding-bottom: 2px;
    padding-left: 3%;
    padding-right: 2%;
    
    font-size: 1.5em;
}
.flat_txt{
    padding-left: 30px;
}
li{
    margin-bottom: 3%;
}



.stylized_tree{
    height: 150px;
}
#treebois{
    list-style-type: none;
}
#among_trees_logo_card{
    position: relative;
    padding-right: 40px;
    height: auto;
}
#among_trees_p{
    margin-bottom: 3%;
    margin-top: 0;
}
#among_trees_link{
    position: absolute;
    bottom: 0; /* Align the link to the bottom of the container */
    left: 0; /* Align the link to the left edge of the container */
    margin: 10px; /* Add some spacing around the link */
    background-color: #424141f9;
    color: #000000;
}
#among_trees_link:hover{
    color: #b82828;
}

.content_cards p a{
    color: #424141;
}
.content_cards p a:hover {
    color: #b82828;
}

footer {
    background-color: #10456ae1;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center
}
footer a {
    color: #000000;
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer a:hover {
    color: #b82828;
}
footer .social img {
    border-radius: 25%;
    margin-left: 5px;
    border: 1px solid #0000002a;
    /*padding-top: 15px;*/
}

/* Media Query */
