


#content {
    max-width: 1600px;
    margin: 0 auto;
}

header{
    max-height: 80px;
    background-color: #285031;
    padding: 20px; /* Add some padding for spacing */
    color: white; /* Set text color to white (optional) */
    overflow: hidden; /* Clear any floated elements */
    display: flex; /* Use flexbox for vertical centering */
    align-items: center; /* Vertically center the content */
}
.logo {
    width: 80px;
    float: left;
    border: 1px solid black;
    border-radius: 50%;
    
}
#header_nav{
    float: left;
    margin-left: 20px;
    margin-top: 40px;
}

body{
    background-color: #c7c7c7;
}

